body {
    background-color:rgb(159, 174, 189);
}

.cabezera {
    width: 100%;
    height: 150px;
    background-image: url('../resources/avionCab3.jpg');
    background-size: cover;
    background-position: center 40%;
}

.logoutHome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fichaAeronave {
    max-width: 400px;
    max-height: 400px;
}